<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery (Bootstrap requires jQuery) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Admin Dashboard</title>
    <!-- Include your CSS and JS files here -->
</head>
<body style="height: 100vh">
<div id="wrapper" class="d-flex">
    <!-- Sidebar -->
    <div th:replace="/admin/fragments/sidebar :: sidebar"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-film fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" th:text="${moviesCount}"></div>
                                    <div>Movies</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Similar panels for categories, countries, etc. -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
